* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: white;
}

header {
    height: 5vh;
    background-color: black;
    text-align: right;
}

section {
    height: 88vh;
    background-color: black;
    overflow: auto;
}

footer {
    background-color: rgb(32, 29, 29);
    height: 7vh;
    justify-content: space-between;
}

header div {
    padding-top: 7px;
    padding-right: 10px;
    display: inline;
}

header span, header i {
    background-color: rgb(74, 74, 74);
    padding: 4px;
    border-radius: 5px;
}

.flex {
    display: flex;
}

.container {
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px 5px;
    overflow: auto;
    padding-top: 30px;
}

.logo-container {
    width: calc((100% - 35px) / 7);
    height: 150px;
    background-image: url('../img/mountain.jpg');
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    align-items: flex-end;
    min-width: 200px;
}

.logo-container span {
    background-color: gray;
}

#left-nav {
    width: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#center-nav {
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#right-nav {
    width: 7%;
    color: red;
    background-color: gray;
}

footer i {
    font-size: 35px;
}

.icon-margins i {
    margin-bottom: 5px;
}

.icon-function > i {
    font-size: 20px;
    padding-top: 15px;
}

.arrow-up{
    margin-left: 15px;
}

#mute {
    margin: 0 auto;
}

#right-nav p {
    margin: auto;
}

.far.fa-share-square {
    color: rgb(26, 211, 26);
}

#center-nav i.fas.fa-angle-up {
    font-size: 20px;
}

#center-nav > div {
    margin-right: 20px;
}